:css
  table, th, td {
    border: 1px solid #666;
  }
  table th, table td {
    padding: 10px;
  }
%body
  %h1
    %table
      %tr
        %tr
          %td ID
          %td IP
          %td Name
          %td Day
          %td Competed?
          %td Reached
      - days.each do |day|
        %tr
          %td= day[:id]
          %td= day[:ip]
          %td= day[:name]
          %td= day[:day]
          %td= (day[:completed] ? "yes" : "no")
          %td= day[:reached].strftime('%Y-%m-%d %H:%M:%S')
